<div class="container text-center">
	</br>
	<h1>Who's behind The Gossip Project ?</h1>
	<br>
	<strong>We let you gossip about it...</strong><br></br>
  	<p><a class="btn btn-lg btn-primary" href=<%= new_gossip_path %> role="button">Add your gossip &raquo;</a></p>
	</div>
</div>


